:root {
  --color-a: #71efa3;
  --color-b: #54436b;
  --color-c: rgba(255, 255, 255, 0.35);
  --color-d: rgba(255, 255, 255, 0.4);
  --color-e: #f2edd7c4;

  --gradient-1: #03001e;
  --gradient-2: #7303c0;
  --gradient-3: #ec38bc;
  --opacity-3: #ec38bc6d;
  --gradient-4: #fdeff9;
  --opacity-4: #fdeff974;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to top right,
    var(--gradient-1),
    var(--gradient-2),
    var(--gradient-3),
    var(--gradient-4)
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.pigApp {
  font-family: "Tourney", cursive;
  font-size: 3rem;
  line-height: 1.6;
  background-color: var(--color-c);
  color: var(--color-a);
  border-radius: 1rem;

  display: flex;
  position: relative;
}

.player__section {
  /* flex: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem 12rem;
}

.player__0 {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.player__1 {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.player--active {
  background-color: var(--color-d);
}

.player--winner {
  background-color: var(--gradient-3);
}

.player__name {
  font-weight: 700;
  font-size: 220%;
  margin-bottom: 3rem;
  color: var(--color-b);
}

.score {
  font-size: 300%;
  font-weight: 700;
  margin-bottom: 10rem;
}

.current__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-a);
  padding: 2rem 4rem;
  border-radius: 1rem;
  color: var(--color-b);
}

.current__text {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.current__score {
  font-weight: 700;
  font-size: 200%;
}

.dice,
.dice2 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
}

.dice2 {
  top: 50%;
}

.btn {
  /* width: 25rem; */
  cursor: pointer;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  font-size: 80%;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--color-e);
  color: var(--color-b);
  border: 0;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn__newGame {
  top: 4%;
}

.btn__roll {
  bottom: 27%;
}

.btn__hold {
  bottom: 15%;
}

.inputScore {
  font-family: inherit;
  font-size: 50%;
  font-weight: 700;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 3rem;
  width: 15rem;
  border: 0;
  outline: none;
  background-color: var(--color-e);
  color: var(--color-b);
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/* @media only screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 30em) {
  html {
    font-size: 45%;
  }
} */
